<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
	<a href="{{ setting-website }}" property="url">
		<img src="{{ i18nText-soag-header-img }}" alt="{{ i18nText-soag-header }}" property="logo" /><span class="wb-inv"> / {{ i18nText-soag-headerAltLang }}</span>
	</a>
	<meta property="name" content="{{ i18nText-soag-header }}">
	<meta property="areaServed" typeof="Country" content="Canada" />
	<link property="logo" href="assets/soag-header.svg" />
</div>
